version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=student_monitoring
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:7.2-alpine
    container_name: student-monitoring-app-redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]


  backend:
    build: .
    depends_on:
      - postgres
      - redis
      - rabbitmq
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/student_monitoring
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8088:8088"



volumes:
  postgres_data:





